/**************************
*	Custom site style
*	Brought to you by:SMY
***************************/

a, a:hover{
	font-size: 14px;
	text-decoration: none;
}
/**** Customer Tab ****/
.remove_phone_group,.add_phone_group{
    margin-top: 28px;
    display: inline-block;
    position: relative;
    width: auto;
    text-align: center;
    float: left;
}

/**** Reports Tab ****/
#reports .form-group .btn-success{
	margin-top:25px;
}
/*#rproductionsum div,
#rproduction div,
#rquoted div,
#rprospect .date{
	display:inline-block;
}*/
#report_result span{font-weight: bold}
/* #report_result table .fixedheader tr {
	position:relative;
	display: block
}
.scrollable {
		display: block;
    height: 262px;
    overflow: auto;
    width: 100%
} */
/*#report_result {max-height:400px;overflow:scroll;}*/
#rgrade.form-horizontal .checkbox{
    width: 15%;
    display: inline-block;
    padding-top: 25px;    
}
/**** Admin Tab ****/
.search_mod{
	background:#ffefd5;
}
.customer_mod{
	background:#ffd5d5;
}
.report_mod{
	background:#d5edff;
}
div#msg_inf {
    position: fixed;
    z-index: 9999;
    top: 10em;
    left: 9em;
}
/*#listcus tbody tr>td:last-child{text-align: center;}*/
#familytable_filter,#hometable_filter,#vehicletable_filter,#violationtable_filter,#claimtbl_filter,#quotetbl_filter,#policytbl_filter{display: none;}